header {
  position: fixed;
  left: 8vw;
  top: 90px;
  z-index: 997;

  ul {
    font-family: 'Montserrat';
    font-weight: $bold_weight;
    font-size: 10px;
    line-height: 173.9%;
  }
  .logo {
    width: 31px;
    &-dot {
      background-color: black;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 18px auto;
    }
  }
  &.hideHeader {
    display: none;
  }
}

