<div class="expertise">
    <div class="expertise-block">
        <a href="/projects.html?dev=true">
            <div class="cardProject">
                <div class="cardProject_dev-block">
                    <p class="text-project">Projects</p>
                    <div class="ligne"></div>
                    <div class="secondpart">
                        <h1>Front-end<br>development</h1>
                        <p class="text-progress">Work in progress</p>
                    </div>
                </div>
            </div>
        </a>
        <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 136">
            <defs>
                <path ref="circlePath" id="circlePath" d="M7,69a60,60 0 1,0 120,0a60,60 0 1,0 -120,0"></path>
            </defs>
            <g>
                <text x="50%" y="50%" class="button-letter-center" id="letter"></text>
                <text ref="textCurved" id="textCurved" fill="#000">
                    <textPath side="right" ref="pathTextCurved" id="pathTextCurved" xlink:href="#circlePath">
                        <tspan class="button-curved-en">• CREATIVE</tspan>
                        <tspan class="button-curved-jpn">• DEVELOPER</tspan>
                    </textPath>
                </text>
                <circle id="circle" ref="circle" cx="67" cy="69" r="60" fill="transparent"></circle>
            </g>
        </svg>
        <div class="curiculum">
            <div class="experiences">
                <div class="title_container">
                    <h1>Experiences</h1>
                </div>
                <div class="informations">
                    <div class="information">
                        <div class="big_line"></div>
                        <div>
                            <h2 class="date">2019 / 2020</h2>
                            <h2 class="info_big">Mazarine - Paris</h2>
                            <h3 class="info_little">Front-end developer</h3>
                            <p class="description">Développement front du site Chanel.com
                                et de son site presse.</p>
                            <ul class="list">
                                <li>Nouvelles fonctionnalitées</li>
                                <li>Maintenance évolutive</li>
                                <li>Corrections de bugs</li>
                                <li>Intégration pixel perfect</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cursus">
                <div class="title_container">
                    <h1>cursus</h1>
                </div>
                <div class="informations">
                    <div class="information">
                        <div class="big_line"></div>
                        <div class="text">
                            <h2 class="date">2018 / 2021</h2>
                            <h2 class="info_big">Bachelor Web</h2>
                            <h3 class="info_little">Hetic</h3>
                            <p class="description">Développement front du site Chanel.com
                                et de son site presse.</p>
                            <ul class="list">
                                <li>Nouvelles fonctionnalitées</li>
                                <li>Maintenance évolutive</li>
                                <li>Corrections de bugs</li>
                                <li>Intégration pixel perfect</li>
                            </ul>
                        </div>
                    </div>
                    <div class="information">
                        <div class="big_line"></div>
                        <div>
                            <h2 class="date">2018 / 2021</h2>
                            <h2 class="info_big">Bachelor Web</h2>
                            <h3 class="info_little">Hetic</h3>
                            <p class="description">Développement front du site Chanel.com
                                et de son site presse.</p>
                            <ul class="list">
                                <li>Nouvelles fonctionnalitées</li>
                                <li>Maintenance évolutive</li>
                                <li>Corrections de bugs</li>
                                <li>Intégration pixel perfect</li>
                            </ul>
                        </div>
                    </div>
                    <div class="information">
                        <div class="big_line"></div>
                        <div>
                            <h2 class="date">2018 / 2021</h2>
                            <h2 class="info_big">Bachelor Web</h2>
                            <h3 class="info_little">Hetic</h3>
                            <p class="description">Développement front du site Chanel.com
                                et de son site presse.</p>
                            <ul class="list">
                                <li>Nouvelles fonctionnalitées</li>
                                <li>Maintenance évolutive</li>
                                <li>Corrections de bugs</li>
                                <li>Intégration pixel perfect</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills">
                <div class="title_container">
                    <h1>skills</h1>
                </div>
                <div class="informations">
                    <div class="information">
                        <div class="big_line"></div>
                        <div>
                            <h2 class="info_big">UX / UI</h2>
                            <ul class="list list_large">
                                <li>Nouvelles fonctionnalitées</li>
                                <li>Maintenance évolutive</li>
                                <li>Corrections de bugs</li>
                                <li>Intégration pixel perfect</li>
                            </ul>
                        </div>
                    </div>
                    <div class="information">
                        <div class="big_line"></div>
                        <div>
                            <h2 class="info_big">Development</h2>
                            <ul class="list list_large">
                                <li>Nouvelles fonctionnalitées</li>
                                <li>Maintenance évolutive</li>
                                <li>Corrections de bugs</li>
                                <li>Intégration pixel perfect</li>
                            </ul>
                        </div>
                    </div>
                    <div class="information">
                        <div class="big_line"></div>
                        <div>
                            <h2 class="info_big">Audio / Video</h2>
                            <ul class="list list_large">
                                <li>Nouvelles fonctionnalitées</li>
                                <li>Maintenance évolutive</li>
                                <li>Corrections de bugs</li>
                                <li>Intégration pixel perfect</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>