<div class="expertise">
    <div class="expertise-block expertise-block_dev" data-expertise="dev">
        <svg class="textCircle" width="185" height="185" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 136">
            <defs>
                <path ref="circlePath" id="circlePath" d="M7,69a60,60 0 1,0 120,0a60,60 0 1,0 -120,0"></path>
            </defs>
            <g>
                <text x="50%" y="50%" class="button-letter-center" id="letter"></text>
                <text ref="textCurved" id="textCurved" fill="#000">
                    <textPath side="right" ref="pathTextCurved" id="pathTextCurved" class="pathTextCurved"
                        xlink:href="#circlePath">
                        <tspan class="button-curved-en">• CREATIVE</tspan>
                        <tspan class="button-curved-jpn">• DEVELOPER</tspan>
                    </textPath>
                </text>
                <circle id="circle" ref="circle" cx="67" cy="69" r="60" fill="transparent"></circle>
            </g>
        </svg>
    </div>
    <div class="expertise-block expertise-block_ux" data-expertise="ux">
        <div class="dropDownMenu dropDownMenu_ux">
            <h2 class="subnavigation-name" data-nav="methodes">METHODES</h2>
            <ul class="subnavigation-part subnavigation-part_1" data-part="methodes">
                <li>FIGMAFIGMA</li>
                <li>SKETCH</li>
                <li>ILLUSTRATOR</li>
            </ul>
            <h2 class="subnavigation-name" data-nav="tools">UI DESIGN TOOLS</h2>
            <ul class="subnavigation-part subnavigation-part_2" data-part="tools">
                <li>FIGMA</li>
                <li>SKETCH</li>
                <li>ADOBE XD</li>
                <li>ILLUSTRATOR</li>
                <li>PHOTOSHOP</li>
            </ul>
            <h2 class="subnavigation-name" data-nav="knowledgs">KNOWLEDGS</h2>
            <ul class="subnavigation-part subnavigation-part_3" data-part="knowledgs">
                <li>SKETCHSKETCH</li>
                <li>ILLUSTRATOR</li>
                <li>SKETCH</li>
                <li>SKETCHSKETCH</li>
            </ul>
        </div>
        <div class="cardProject cardProject_ux">
            <div class="cardProject_ux-block">
                <p class="text-project">Projects</p>
                <div class="ligne"></div>
                <div class="secondpart">
                    <h1>UI<br /><span>UX</span></h1>
                    <p class="text-progress">Work in progress</p>
                </div>
            </div>
        </div>
        <svg class="textCircle1" width="185" height="185" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 136">
            <defs>
                <path ref="circlePath1" id="circlePath1" d="M7,69a60,60 0 1,0 120,0a60,60 0 1,0 -120,0"></path>
            </defs>
            <g>
                <text x="50%" y="50%" class="button-letter-center" id="letter1"></text>
                <text ref="textCurved" id="textCurved1" fill="#000">
                    <textPath side="right" ref="pathTextCurved1" id="pathTextCurved1" xlink:href="#circlePath1">
                        <tspan class="button-curved-en">• UI / UX</tspan>
                        <tspan class="button-curved-jpn">• DESIGNER</tspan>
                    </textPath>
                </text>
                <circle id="circle1" ref="circle1" cx="67" cy="69" r="60" fill="transparent"></circle>
            </g>
        </svg>
        <div class="list"></div>
    </div>
</div>
