header {
  z-index: 100;
}
.expertise {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $light;
  .expertise-block {
    width: 100%;
    height: 100%;
  }
}

// SVG STYLE
.textCircle{
  display: block;
  margin: auto;
  height: 100%;
}

#text,
#letter,
#pathTextCurved {
  pointer-events: none;
}

#letter{
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 50px;
  font-weight: 100;
}

#textCurved{
  font-weight: $extra_bold_weight;
  text-transform: uppercase;
  font-family: 'Montserrat';
}


    .svg {
      position: fixed;
      bottom: -30%;
      right: -15%;
      width: 40%;
      height: auto;
      overflow: hidden;
    }


  .cardProject{
    position: fixed;
    height: 170px;
    right: 125px;
    top: 90px;
    color: $black;
    .text-project {
      font-size: 14px;
      font-family: 'Suranna';
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 10px;
      text-align: right;
    }
    .ligne {
      position: absolute;
      width: 70px;
      top: 35px;
      left: 106px;
      height: 1px;
      background-color: $light;
      transform: rotate(90deg);
    }
    .secondpart {
      position: relative;
      height: 100%;
      & > h1 {
        font-family: 'Montserrat';
        font-weight: $black_weight;
        text-transform: uppercase;
        height: 100%;
        font-size: 15px;
        text-align: right;
        span { 
          font-size: 32px;
          font-weight: $black_weight; 
        }
      }
      .text-progress { 
        position: absolute;
        right: -82px;
        top: 14px;
        text-transform: uppercase;
        width: auto;
        transform: rotate(90deg);
        font-size: 8px;
        font-family: 'Montserrat';
        font-weight: $light_weight;
      }
    }
  }



.svg-element-ux,
.svg-element-dev {
  transition: all 1s;
  opacity: 0.5;
  &.rotate {
    opacity: 1;
    transform-origin: 50% 50%;
    display: inline-block;
    -webkit-animation: rotation 10s infinite linear;
    animation: rotation 10s infinite linear;
  }
}



@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


/// TEXTES

.curiculum {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  .experiences, .cursus , .skills{
    width: 100%;
    height: fit-content;
    display: flex;
  }
  .title_container {
    font-size: 68px;
    font-family: 'Suranna';
    text-transform: uppercase;
    color: $dark;
    padding-right: 50px;
    text-align: right;
    width: 40%;
  }
  .informations {
    .information {
      display: flex;
      height: fit-content;
      margin-bottom: 80px;
      .big_line {
        width: 1px;
        background-color: $dark;
        margin-right: 26px;
        height: auto;
      }
      .text {
        height: fit-content;
      }
    }
    .date {
      font-weight: $extra_bold_weight;
      font-family: 'Montserrat';
      font-size: 18px;
      margin-bottom: 16px;
    }
    .info_big {
      font-weight: $black_weight;
      font-family: 'Montserrat';
      font-size: 18px;
      margin-bottom: 10px;
    }
    .info_little {
      font-weight: $normal_weight;
      font-family: 'Montserrat';
      font-size: 14px;
      margin-bottom: 18px;
    }
    .description {
      font-weight: $semibold_weight;
      font-family: 'Montserrat';
      font-size: 12px;
      margin-bottom: 28px;
      width: 160px;
    }
    .list {
      font-weight: $normal_weight;
      font-family: 'Montserrat';
      font-size: 10px;
      text-transform: uppercase;
      width: 200px;
      & > li {
        margin-bottom: 4px;
      }
      &_large {
        margin-top: 20px;
        & > li {
          margin-bottom: 10px;
        }
      }
    }
  }
}