<div class="projects">
  <nav>
    <ul>
      <li class="nav-item" data-number="1">
        <h3>1</h3>
        <svg class="circle circle_one rotate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 136">
          <defs>
            <path ref="circlePath" id="circlePath" d="M7,69a60,60 0 1,0 120,0a60,60 0 1,0 -120,0"></path>
          </defs>
          <g>
            <text x="50%" y="50%" class="button-letter-center" id="letter"></text>
            <text ref="textCurved" id="textCurved" fill="#000">
              <textPath side="right" ref="pathTextCurved" id="pathTextCurved" xlink:href="#circlePath">
                <tspan class="button-curved-en">• CREATIVE</tspan>
                <tspan class="button-curved-jpn">• DEVELOPER</tspan>
              </textPath>
            </text>
            <circle id="circle" ref="circle" cx="67" cy="69" r="60" fill="transparent"></circle>
          </g>
        </svg>
      </li>
      <li class="nav-item" data-number="2">
        <h3>2</h3>
        <svg class="circle circle_two" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 136">
          <defs>
            <path ref="circlePath" id="circlePath" d="M7,69a60,60 0 1,0 120,0a60,60 0 1,0 -120,0"></path>
          </defs>
          <g>
            <text x="50%" y="50%" class="button-letter-center" id="letter"></text>
            <text ref="textCurved" id="textCurved" fill="#000">
              <textPath side="right" ref="pathTextCurved" id="pathTextCurved" xlink:href="#circlePath">
                <tspan class="button-curved-en">• CREATIVE</tspan>
                <tspan class="button-curved-jpn">• DEVELOPER</tspan>
              </textPath>
            </text>
            <circle id="circle" ref="circle" cx="67" cy="69" r="60" fill="transparent"></circle>
          </g>
        </svg>
      </li>
      <li class="nav-item" data-number="3">
        <h3>3</h3>
        <svg class="circle circle_three" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 136">
          <defs>
            <path ref="circlePath" id="circlePath" d="M7,69a60,60 0 1,0 120,0a60,60 0 1,0 -120,0"></path>
          </defs>
          <g>
            <text x="50%" y="50%" class="button-letter-center" id="letter"></text>
            <text ref="textCurved" id="textCurved" fill="#000">
              <textPath side="right" ref="pathTextCurved" id="pathTextCurved" xlink:href="#circlePath">
                <tspan class="button-curved-en">• CREATIVE</tspan>
                <tspan class="button-curved-jpn">• DEVELOPER</tspan>
              </textPath>
            </text>
            <circle id="circle" ref="circle" cx="67" cy="69" r="60" fill="transparent"></circle>
          </g>
        </svg>
      </li>
      <li class="nav-item" data-number="4">
        <h3>4</h3>
        <svg class="circle circle_four" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 136">
          <defs>
            <path ref="circlePath" id="circlePath" d="M7,69a60,60 0 1,0 120,0a60,60 0 1,0 -120,0"></path>
          </defs>
          <g>
            <text x="50%" y="50%" class="button-letter-center" id="letter"></text>
            <text ref="textCurved" id="textCurved" fill="#000">
              <textPath side="right" ref="pathTextCurved" id="pathTextCurved" xlink:href="#circlePath">
                <tspan class="button-curved-en">• CREATIVE</tspan>
                <tspan class="button-curved-jpn">• DEVELOPER</tspan>
              </textPath>
            </text>
            <circle id="circle" ref="circle" cx="67" cy="69" r="60" fill="transparent"></circle>
          </g>
        </svg>
      </li>
      <li class="nav-item" data-number="5">
        <h3>5</h3>
        <svg class="circle circle_six" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 136">
          <defs>
            <path ref="circlePath" id="circlePath" d="M7,69a60,60 0 1,0 120,0a60,60 0 1,0 -120,0"></path>
          </defs>
          <g>
            <text x="50%" y="50%" class="button-letter-center" id="letter"></text>
            <text ref="textCurved" id="textCurved" fill="#000">
              <textPath side="right" ref="pathTextCurved" id="pathTextCurved" xlink:href="#circlePath">
                <tspan class="button-curved-en">• CREATIVE</tspan>
                <tspan class="button-curved-jpn">• DEVELOPER</tspan>
              </textPath>
            </text>
            <circle id="circle" ref="circle" cx="67" cy="69" r="60" fill="transparent"></circle>
          </g>
        </svg>
      </li>
    </ul>
  </nav>
  <div class="projects-container">
    <div class="project active" data-number="1">
      <div class="project-image">
        <div class="image-container">

        </div>
      </div>
      <div class="project-text">
        <h1>Spotify</h1>
        <h2>Refont UI</h2>
        <div class="horizontal-line"></div>
        <p>En gros ici je vais ecrire une ou deux phrases sur le projet et tout et dire ce que j’ai utilisé comme
          outils
          peut etre et genre je pourrai peut etre sur le cote</p>
      </div>
    </div>
    <div class="project" data-number="2">
      <div class="project-image">
        <div class="image-container">
        </div>
      </div>
      <div class="project-text">
        <h1>Spotify</h1>
        <h2>Refont UI</h2>
        <div class="horizontal-line"></div>
        <p>En gros ici je vais ecrire une ou deux phrases sur le projet et tout et dire ce que j’ai utilisé comme
          outils
          peut etre et genre je pourrai peut etre sur le cote</p>
      </div>
    </div>
    <div class="project" data-number="3">
      <div class="project-image">
        <div class="image-container">
        </div>
      </div>
      <div class="project-text">
        <h1>number2</h1>
        <h2>Refont UI</h2>
        <div class="horizontal-line"></div>
        <p>En gros ici je vais ecrire une ou deux phrases sur le projet et tout et dire ce que j’ai utilisé comme
          outils
          peut etre et genre je pourrai peut etre sur le cote</p>
      </div>
    </div>
    <div class="project" data-number="4">
      <div class="project-image">
        <div class="image-container">
        </div>
      </div>
      <div class="project-text">
        <h1>peutertre</h1>
        <h2>Refont UI</h2>
        <div class="horizontal-line"></div>
        <p>En gros ici je vais ecrire une ou deux phrases sur le projet et tout et dire ce que j’ai utilisé comme
          outils
          peut etre et genre je pourrai peut etre sur le cote</p>
      </div>
    </div>
    <div class="project" data-number="5">
      <div class="project-image">
        <div class="image-container">
        </div>
      </div>
      <div class="project-text">
        <h1>sushi</h1>
        <h2>Refont UI</h2>
        <div class="horizontal-line"></div>
        <p>En gros ici je vais ecrire une ou deux phrases sur le projet et tout et dire ce que j’ai utilisé comme
          outils
          peut etre et genre je pourrai peut etre sur le cote</p>
      </div>
    </div>
  </div>