<div class="projects">
  <div class="project_card" data-card="ux">
    <div class="project_card_ux-block">
      <p class="text-project">Projects</p>
      <div class="ligne"></div>
      <div class="secondpart">
        <h1 class="project_card-number">VI</h1>
        <p class="text-progress">Work in progress</p>
      </div>
    </div>
  </div>
  <div class="project_visual">
    <div class="project_visual-image">

    </div>
  </div>
  <div class="project_presentation">
    <p class="project_presentation-text">
      En gros ici je vais ecrire une ou deux phrases sur le projet et tout et dire ce que j’ai utilisé comme outils peut
      etre et genre je pourrai peut etre sur le cote
    </p>
    <p class="project_presentation-title">
      SCHOOL PROJECT
      <br>
      <span class="title">BANAL.</span>
    </p>
  </div>
</div>