$extra_thin_weight: 100;
$thin_weight: 200;
$light_weight: 300;
$normal_weight: 400;
$medium_weight: 500;
$semibold_weight: 600;
$bold_weight: 700;
$extra_bold_weight: 800;
$black_weight: 900;

$primary_font: 'Montserrat';

$normal: normal;
$italic: italic;

$black: rgb(0, 0, 0);
$light: rgb(255, 253, 251);
$dark: rgb(47, 46, 46);
$blue: rgb(20, 63, 255);
$red: rgb(247, 100, 100);