<div class="introduction">
    <div class="introduction-content">
        <h1 class="introduction-content_name">HELENE</br>MARGARY</h1>
        <div class="introduction-content_line"></div>
        <p class="introduction-content_text">En gros ici je vais ecrire une ou deux phrases de presentation en disant
            bien que je suis la best que je fais
            des dtrucs trop styleé. Peut etr aussi rajouter quee je bosse pour mazarine et tout histoire de faire un dab
        </p>
    </div>
    <div class="introduction-link">
        <a href="expertise.html">see more</a>
    </div>
    <div class="introduction-cv">
        <a href="#">You can download my CV here</a>
    </div>
</div>