*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100%;
  position: relative;
  h1 {
    font-family: 'Suranna';
    span {
      &.hovered {
        text-decoration: underline;
      }
    }
  }

  &-zone {
    height: 100%;
    width: 100%;
    position: relative;
    &-wrap {
      display: none;
      position: absolute;
      min-width: 350px;
      width: 45%;
      max-width: 600px;
      height: 60%;
      transform-style: preserve-3d;
      transform: perspective(100rem);
      cursor: pointer;
    }
    &-card {
      position: relative;
      transition: transform .6s .2s;
      width: 400px;
      height: 400px;
      background-image: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)),url('https://images.unsplash.com/photo-1559113513-d5e09c78b9dd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9');
      background-size: 100%;
      &.active {
        transition: none;
      }
    }
  }
}