<div class="main">
    <h1>Pationate
        <span>about</span>
        <span class='hoverable' data-cardid="uxui">User experience / User interface</span>
        <span>Design</span>
        <span>&</span>
        <span class='hoverable' data-cardid="development">Creative development</span>.
    </h1>
    <div class="main-zone">
        <div class="main-zone-wrap" data-card="uxui">
            <div class="main-zone-card">
                <p>this is the card for UX/UI projects</p>
            </div>
        </div>
        <div class="main-zone-wrap" data-card="development">
            <div class="main-zone-card">
                <p>this is the card for development projects</p>
            </div>
        </div>
    </div>
</div>
